body {
    background-color: aqua;
}

.personsPage h2 {
    text-align: center;
    display:flex ;
    align-items: center;
    padding: 25px;
}

.personsPage {
    display: grid;
    column-gap:50px;
    grid-template-columns: auto auto auto;
}

.personsSection {
    border: dashed rgb(18, 18, 19) 10px;
    margin: 50px; 
    padding: 40px; 
    border-radius: 20px;
    padding: 30px;
    background-color:blueviolet ;
    padding: 10px;
    font-size:xx-large;
}

.personsPage img {
    height: 400px;
}

.audio {
    text-align: center;
    align-items: center;
}

