body {
    background-color: yellow;
}

.gridMovieAnime {
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    background-color: white;
    border-radius: 20px;
}

.gridMovieAnime div {
    background-color:yellow;
    text-align: center;
    border-radius: 20px;
    margin-bottom:20px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gridMovieAnime h5 {
    background-color: red;
    color: white;
    text-align: center;
    align-items:center;
}

.gridMovieAnime img {
    height: 300px; 
    border-radius: 30px;
    margin-top: 20px;
}