body {
    margin: 30px;

}

    h1 {
    text-align: center;
    color: red;
    background-color: aqua;
    border: dashed black; 
    }
h2 {
    display: flex;
    align-items: center;
    text-align: center;
}
.gridOcupations {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    border-radius: 25px;

}
.gridOcupations li {
    font-size:xx-large;
}

.gridOcupations img {
    height: 300px;
    border-radius: 20px;
}

.gridHobby {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30 px;
    background-color: blue;
    padding: 25px;
    margin-top: 10px;
    border-radius: 20px;

}

.gridHobby img {
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;

}
.gridHobby div {

    background-color: aqua;
    text-align: center;
    border: 10px solid rgb(0, 0, 0)
}

.gridHobby h5 {
    background-color: blue;
    margin-bottom: 30px;


}


