h1 {
    text-align: center;
    color: red;
    background-color:aqua;
    border: dashed black;
    padding: 15px;
}

h2 {
    text-align: center;
    display:flex ;
    align-items: center;
    padding: 25px;
}

.gridAboutMe {
    border-radius: 20px;
    padding: 30px;
    display: grid;
    column-gap:50px;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
    font-size: larger;
    
}

.gridAboutMe img {
    height: 300px;
}